//
// MeatryadUserStatusAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class MeatryadUserStatusAPI {

    /**
     Получить подробную информацию о статусе пользователя.
     
     - parameter apiResponseQueue: The queue on which api response is dispatched.
     - parameter completion: completion handler to receive the data and the error objects
     */
    @discardableResult
    open class func meatryadUserStatusGetStatusInfo(apiResponseQueue: DispatchQueue = OpenAPIClientAPI.apiResponseQueue, completion: @escaping ((_ data: ResultModelOfMeatryadStatusViewModel?, _ error: Error?) -> Void)) -> RequestTask {
        return meatryadUserStatusGetStatusInfoWithRequestBuilder().execute(apiResponseQueue) { result in
            switch result {
            case let .success(response):
                completion(response.body, nil)
            case let .failure(error):
                completion(nil, error)
            }
        }
    }

    /**
     Получить подробную информацию о статусе пользователя.
     - GET /v1.2/MeatryadUser/Status
     - returns: RequestBuilder<ResultModelOfMeatryadStatusViewModel> 
     */
    open class func meatryadUserStatusGetStatusInfoWithRequestBuilder() -> RequestBuilder<ResultModelOfMeatryadStatusViewModel> {
        let localVariablePath = "/v1.2/MeatryadUser/Status"
        let localVariableURLString = OpenAPIClientAPI.basePath + localVariablePath
        let localVariableParameters: [String: Any]? = nil

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [
            :
        ]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<ResultModelOfMeatryadStatusViewModel>.Type = OpenAPIClientAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "GET", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters)
    }
}
